/* Global CSS */

/* Colours */
:root {
    --navbar-color: #fee5d6;
}

/* Top Header */
.navbar{
    background: var(--navbar-color) !important;
}
.navbar-expand{
    background-color: var(--navbar-color);
}